<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.panpf.tools4a.args.ktx.test">

    <application>
        <activity android:name=".bind.TestActivity" />
        <activity android:name=".bind.ResTestActivity" />
        <activity android:name=".bind.TestNoExtrasActivity" />
        <activity android:name=".bind.TestUriActivity" />
        <activity android:name=".bind.ResTestUriActivity" />
        <activity android:name=".bind.TestOnlyUriNoIntentActivity" />
        <activity android:name=".bind.TestOnlyIntentNoUriActivity" />
        <activity android:name=".bind.TestBothIntentUriActivity" />
        <activity android:name=".bind.TestNoIntentUriActivity" />
        <activity android:name=".bind.ResTestOnlyUriNoIntentActivity" />
        <activity android:name=".bind.ResTestOnlyIntentNoUriActivity" />
        <activity android:name=".bind.ResTestBothIntentUriActivity" />
        <activity android:name=".bind.ResTestNoIntentUriActivity" />
        <activity android:name=".read.TestActivity" />
        <activity android:name=".read.ResTestActivity" />
        <activity android:name=".read.NoExtraActivity" />
        <activity android:name=".read.TestOnlyUriNoIntentActivity" />
        <activity android:name=".read.TestOnlyIntentNoUriActivity" />
        <activity android:name=".read.TestBothIntentUriActivity" />
        <activity android:name=".read.TestNoIntentUriActivity" />
        <activity android:name=".read.ResTestOnlyUriNoIntentActivity" />
        <activity android:name=".read.ResTestBothIntentUriActivity" />
        <activity android:name=".read.TestUriActivity" />
        <activity android:name=".read.ResTestUriActivity" />
    </application>
</manifest>