<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.panpf.tools4a.fragment.ktx.test">

    <application>
        <activity android:name=".FragmentxTest$ResumeOnlyCurrentParentViewPagerActivity" />
        <activity android:name=".FragmentxTest$UserVisibleHintParentViewPagerActivity" />
    </application>
</manifest>